body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    color: #fff;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

header {
    padding: 20px;
    text-align: center;
    width: 90%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.background-image {
    background-image: url('Foto1-2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.caja-externa {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.caja-interna{
    position: relative;
    width: 90%;
    max-width: 750px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, height 0.6s ease;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4), -6px -6px 6px rgba(255, 255, 255, 0.3);
    
}

.caja-interna::after {
    content: ""; /* Contenido vacío, se utiliza para la pseudo-clase ::after */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover; /* Ajusta el tamaño de la imagen */
    opacity: 0;
    transition: opacity 0.2s ease;
}

.caja-interna:hover::after {
    opacity: 1;
}

.caja-interna:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.10);
    height: 422px;
}

.xmas-fuera {
    position: relative;
    width: 90%;
    max-width: 750px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, height 0.6s ease;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.3), inset -6px -6px 6px rgba(255, 255, 255, 0.25);
}

/*.caja-interna[data-imagen="fortisland1.1.2E.png"]::after {
    background-image: url('fortisland1.1.2E.png');
}*/

.caja-interna[data-imagen="fortisland1.1.2.png"]::after {
    background-image: url('fortisland1.1.2.png');
}

.caja-interna[data-imagen="fortisland1.0.png"]::after {
    background-image: url('fortisland1.0.png');
}

a {
    text-decoration: none;
    color: inherit; 
}

.back {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8), -4px -4px 4px rgba(255, 255, 255, 0.6);
}

footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    padding-bottom: 50px;
}

footer a {
    transition: background-color 0.2s ease;
}

footer a:hover {
    background-color: #ffffff;
    color: #000000;
}
